<img src="Solutions/images/brand.png" width="1600"/>

# Exercise 02 - Text Search

## In this exercise, you will:

* Practice searching documents using terms and phrases
* Search documents across multiple fields

## Steps

### Practice searching documents using terms and phrase

For this exercise, you’ll be using the **killrvideo.videos** table, which has the following fields:

<img src="Solutions/images/videos_fields.jpg" align="left" width="800"/>

You’ll be creating CQL search queries with the *solr_query* column in the below code boxes.

**1** . Write and execute a query that retrieves all of the documents from the **videos** table.

**2** . Write and execute a query that searches in the description of a movie for the term **wizard**.

How many movies had the term in the description?

**3** . Write and execute a query that searches in the description of a movie for the phrase **harry potter**. Keep track of the number of rows returned.

**4** . Write and execute a query that searches in the description of a movie for two terms: harry and potter. You will need to use grouping to accomplish this.

Is the number of rows returned the same as in the previous query? Why or why not?

**5** . Execute another description search for the phrase **harry potter**, but prohibiting the term **voldemort**.

How many rows were returned this time?

### Search documents across multiple fields

**6** . Find the title of the movies that are rated **G** and were released in **2015**.

**7** . Find the title of a movie whose description contains the term **detective** and was released on **December 25, 2009**.

**8** . Find the title and release year of the movies that are in the **Family** genre, must also be in the **Fantasy** or **Comedy** genre, and has an average user rating of **7**.

**9** . Come up with a query that will find a rated PG-13 movie about a man named John who can communicate with animals.

What is the title of the movie?

**10** . Design a query that finds two rated G movies that came out in 2001 or 2013 about monsters.

What are the titles of these two movies?